<div class="bg-surface gap-4 flex flex-col rounded-lg overflow-hidden transition-all duration-300">
    <div class="flex justify-between items-center pb-2 cursor-pointer select-none hover:bg-black/[0.02] border-b border-gray-200"
        @onclick="ToggleAccordion">
        <h3 class="h-subsection-title">@Title</h3>
        <button
            class="bg-transparent border-0 cursor-pointer p-1 flex items-center justify-center transition-transform duration-300"
            aria-label="Toggle accordion" aria-expanded="@IsExpanded" aria-controls="accordion-content">
            <img src="icons/chevron_up.svg" alt="Toggle"
                class="chevron-icon @(IsExpanded ? "expanded" : "collapsed")" />
        </button>
    </div>

    @if (IsExpanded)
    {
        <div class="accordion-root">
            @foreach (var item in Items)
            {
                <div class="accordion-body">
                    <span class="accordion-text-bold" title="@item.Label">@item.Label:</span>

                    @if (!string.IsNullOrEmpty(item.Icon))
                    {
                        <span class="flex items-center gap-2 accordion-text-regular">
                            <img src="@item.Icon" alt="@item.Value" class="w-6 h-4 object-contain" />
                            <span>@item.Value</span>
                        </span>
                    }
                    else
                    {
                        <span class="accordion-text-regular" title="@item.Value">@item.Value</span>
                    }
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter] public IEnumerable<ContractSummaryItem> Items { get; set; } = Enumerable.Empty<ContractSummaryItem>();

    private bool IsExpanded { get; set; } = false;

    private void ToggleAccordion()
    {
        IsExpanded = !IsExpanded;
    }
}